# Core ML
torch
torchvision
numpy
scikit-learn

# Data handling
pandas

# Plotting
matplotlib
seaborn

# Utilities
tqdm
python-sat  # Hitman MHS solver: https://pysathq.github.io/docs/html/api/examples/hitman.html
concept-erasure  # LEACE concept erasure: https://github.com/EleutherAI/concept-erasure
